:root {
  --main-font: "TT Norms", sans-serif;
  --main-red: #f2353f;
  --main-grey: #b0b6bf;
  --main-black: #1f2c37;
  --main-white: #ffffff;
  --main-background: #f2f4f7;
  --grid-item: 4;
}

body {
  color: var(--main-black);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  width: 1600px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /*border: 1px solid rgb(39, 150, 39);*/
}

.navigator {
  display: flex;
}

.navigator .list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

button {
  text-transform: inherit;
}

button:hover,
button:focus,
a:focus,
a:hover {
  color: var(--main-red);
}

.section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.grid {
  margin: 0;
  padding: 0;
  /*outline: 1px solid tomato;*/
  display: flex;
  flex-wrap: wrap;
  margin-top: -60px;
  margin-right: -60px;
}

.grid-item {
  flex-basis: calc((100% - 60px * var(--grid-item)) / var(--grid-item));
  margin-top: 60px;
  margin-right: 60px;
}

/*header*/

.list-item:not(:last-child) {
  margin-right: 120px;
}
.list-item button {
  background: transparent;
  border: none;
  padding-top: 42px;
  padding-bottom: 42px;
  /*background-color: tomato;*/
  cursor: pointer;
}
.navigator .list .list-item:first-child {
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.navigator .list .list-item:last-child {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
.navigator .list .list-item:nth-child(2) {
  font-size: 15px;
}

.logo .list-item button,
.list-item a {
  padding-top: 42px;
  padding-bottom: 42px;
}

.navigator .list-item img {
  margin-right: 11px;
}
/*.logo {
  display: block;
}

.logo .logo-hero {
  display: block;
  width: 164px;
  height: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}*/

.logo {
  color: var(--main-red);

  padding-top: 40px;
  padding-bottom: 40px;
}

.icon-header {
  margin-right: 9px;
  fill: currentColor;
}

.button-search {
  display: flex;
  align-items: center;
}

/*hero*/

.hero h1 {
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 45px;
  line-height: 1.2;
  color: var(--main-black);
}

.hero-section-text {
  display: flex;
  padding-top: 108px;
  padding-bottom: 136px;
}

.hero-title,
.hero-text {
  width: 50%;
}

.hero-text {
  margin-left: 60px;
  font-size: 20px;
  line-height: 1.4;
}
/*services*/

.services-item-link {
  display: block;
  font-size: 19px;
  line-height: 1.31;
  max-width: 170px;
  padding-bottom: 42px;
}

.title-paragraf {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--main-grey);
  margin-bottom: 20px;
}

.title-second {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 37px;
  line-height: 1.19;
  margin-bottom: 100px;
}

.title-second span {
  color: var(--main-red);
}

.icon {
  display: block;
  fill: var(--main-red);
  margin-bottom: 53px;
}

.list .services-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 255px;
  height: 255px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.services-item:hover,
.services-item:focus {
  color: var(--main-white);
  background-color: var(--main-red);
}

.services-item-link:hover,
.services-item-link:focus {
  color: var(--main-white);
}

.services-item-link:hover .icon,
.services-item-link:focus .icon {
  fill: currentColor;
}

/*Преимущества*/

.advantages-img {
  position: relative;
  margin-left: 200px;

  z-index: 20;
}

.section.advantages {
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--main-background);
}

.numbers {
  font-size: 75px;
  color: var(--main-red);
  min-height: 75px;
  margin-bottom: 17px;
}

.item-advantages {
  display: inline-block;
  line-height: 1.37;
}
.list .item-advantages {
  min-width: 255px;
  height: 148px;
  flex-wrap: nowrap;
}

h3 {
  font-weight: normal;
}

.blok-advantages {
  position: absolute;
  top: 312px;
  z-index: 2;

  margin-top: 483px;
  margin-left: 115px;
  margin-bottom: 150px;

  width: 1500px;
  height: 780px;
  background-color: rgba(168, 168, 172, 0.959);
}

.advantages-list-blok {
  display: flex;
  padding-top: 462px;
  padding-left: 85px;
  padding-bottom: 175px;
}

.line::before {
  content: "";
  display: block;
  flex-direction: column;
  width: 70px;
  height: 1px;
  background-color: var(--main-grey);
  margin-bottom: 20px;
}
.numbers {
  display: block;
  height: 73px;
}
.line {
  display: block;
}

.list-advantages {
  display: flex;
  align-items: baseline;
}

.advantages .container {
  display: flex;
  --grid-item: 4;
}

/*trust-us*/

.trust-us {
  padding-top: 700px;
}

.trust-us p {
  width: 885px;
  font-weight: 500;
  font-size: 27px;
  line-height: 140%;
  margin-bottom: 200px;
}
.poster {
  position: relative;
}

.play-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-white);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.play-box svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--main-white);
}

/*history*/
.history {
  display: flex;
  --grid-item: 2;
}

.history-box {
  display: flex;
}

.history-title {
  display: flex;
  justify-content: space-between;
}
.history-item {
  margin-bottom: 58px;
}

.history-item h3 {
  padding-bottom: 15px;
}

.history-item span {
  color: var(--main-red);
  font-weight: 500;
  font-size: 27px;
}

.history-item p {
  line-height: 1.5;
}

.item-circle img {
  display: block;
  background-color: #f2d7db;
  border-radius: 50%;
}

.list-circle {
  display: block;
}

.item-circle {
  margin-top: -15px;
  margin-bottom: 130px;
}
/*Футер*/

.section.footer {
  padding-top: 0;
  background-color: var(--main-background);
}

/*Верх*/
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Слева*/
.footer-left,
.footer-right {
  width: 50%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-left a {
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 1.2;
}

.footer-left {
  padding-right: 239px;
}

.footer-left span {
  color: var(--main-red);
  display: block;
}

.footer-left button {
  padding: 22px 44px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-color: var(--main-red);
  cursor: pointer;
}

/*Справа*/
.footer-right {
  display: flex;
}

.footer-right div {
  padding-right: 30px;
}

.footer-right nav,
.footer-right div {
  width: 50%;
}

.footer-right a {
  padding-top: 9px;
  padding-bottom: 9px;
}

.footer-right-text {
  margin-bottom: 64px;

  line-height: 1.5;
}

.footer-form input {
  border: none;
  cursor: pointer;
  padding-bottom: 15px;
}

.footer-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--main-black);
}

.footer-form button {
  border: none;
  cursor: pointer;
}

.footer-form:hover input::placeholder,
.footer-form:focus input::placeholder {
  color: var(--main-red);
}
/*.footer-form input::placeholder {
}*/

/*Низ*/

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom ul {
  display: flex;
}

.footer-bottom li:not(:last-child) {
  margin-right: 32px;
}

.footer-bottom a {
  padding-top: 43px;
  padding-bottom: 43px;
}
