:root {
  --main-font: "TT Norms", sans-serif;
  --main-red: #f2353f;
  --main-grey: #b0b6bf;
  --main-black: #1f2c37;
  --main-white: #ffffff;
  --main-background: #f2f4f7;
  --grid-item: 4;
}

body {
  color: var(--main-black);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  width: 1600px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /*border: 1px solid;*/
}

.navigator {
  display: flex;
}

.navigator .list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

button {
  text-transform: inherit;
}

button:hover,
button:focus,
a:focus,
a:hover {
  color: var(--main-red);
}

.section {
  padding-top: 200px;
  padding-bottom: 200px;
}

/*header*/

.list-item:not(:last-child) {
  margin-right: 120px;
}
.list-item button {
  background: transparent;
  border: none;
  padding-top: 42px;
  padding-bottom: 42px;
  /*background-color: tomato;*/
  cursor: pointer;
}
.navigator .list .list-item:first-child {
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.navigator .list .list-item:last-child {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
.navigator .list .list-item:nth-child(2) {
  font-size: 15px;
}

.logo .list-item button,
.list-item a {
  padding-top: 42px;
  padding-bottom: 42px;
}

.navigator .list-item img {
  margin-right: 11px;
}
/*.logo {
  display: block;
}

.logo .logo-hero {
  display: block;
  width: 164px;
  height: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}*/

.logo {
  color: var(--main-red);

  padding-top: 40px;
  padding-bottom: 40px;
}

.icon-header {
  margin-right: 9px;
  fill: currentColor;
}

.button-search {
  display: flex;
  align-items: center;
}

/*footer*/

/*Футер*/

.section.footer {
  padding-top: 0;
  background-color: var(--main-background);
}

/*Верх*/
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Слева*/
.footer-left,
.footer-right {
  width: 50%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-left a {
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 1.2;
}

.footer-left {
  padding-right: 239px;
}

.footer-left span {
  color: var(--main-red);
  display: block;
}

.footer-left button {
  padding: 22px 44px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-color: var(--main-red);
  cursor: pointer;
}

/*Справа*/
.footer-right {
  display: flex;
}

.footer-right div {
  padding-right: 30px;
}

.footer-right nav,
.footer-right div {
  width: 50%;
}

.footer-right a {
  padding-top: 9px;
  padding-bottom: 9px;
}

.footer-right-text {
  margin-bottom: 64px;

  line-height: 1.5;
}

.footer-form input {
  border: none;
  cursor: pointer;
  padding-bottom: 15px;
}

.footer-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--main-black);
}

.footer-form button {
  border: none;
  cursor: pointer;
}

.footer-form:hover input::placeholder,
.footer-form:focus input::placeholder {
  color: var(--main-red);
}
/*.footer-form input::placeholder {
}*/

/*Низ*/

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom ul {
  display: flex;
}

.footer-bottom li:not(:last-child) {
  margin-right: 32px;
}

.footer-bottom a {
  padding-top: 43px;
  padding-bottom: 43px;
}
