:root {
  --main-font: "TT Norms", sans-serif;
  --main-red: #f2353f;
  --main-grey: #b0b6bf;
  --main-black: #1f2c37;
  --main-white: #ffffff;
  --main-background: #f2f4f7;
  --grid-item: 4;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--main-black);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  width: 1600px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  width: 230px;
  height: 55px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-color: var(--main-red);
  cursor: pointer;
  background-color: var(--main-white);
}

.container {
  width: 1200px;
  margin: 0 auto;
  /*border: 1px solid;*/
}

.navigator {
  display: flex;
}

.navigator .list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

button {
  text-transform: inherit;
}

button,
a {
  transition: color var(--animation);
}

button:hover,
button:focus,
a:focus,
a:hover {
  color: var(--main-red);
}

.section {
  padding-top: 200px;
  padding-bottom: 200px;
}

/*header*/

.list-item:not(:last-child) {
  margin-right: 120px;
}
.list-item button {
  background: transparent;
  border: none;
  padding-top: 42px;
  padding-bottom: 42px;
  /*background-color: tomato;*/
  cursor: pointer;
}
.navigator .list .list-item:first-child {
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.navigator .list .list-item:last-child {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
.navigator .list .list-item:nth-child(2) {
  font-size: 15px;
}

.logo .list-item button,
.list-item a {
  padding-top: 42px;
  padding-bottom: 42px;
}

.navigator .list-item img {
  margin-right: 11px;
}
/*.logo {
  display: block;
}

.logo .logo-hero {
  display: block;
  width: 164px;
  height: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}*/

.logo {
  color: var(--main-red);

  padding-top: 40px;
  padding-bottom: 40px;
}

.icon-header {
  margin-right: 9px;
  fill: currentColor;
}

.button-search {
  display: flex;
  align-items: center;
}
/*навигацыя услуг*/
/*герой*/
/*Виды каталогов*/
/*Виды скрепления*/
/* стоимость*/
/*Дополнительные услуги*/
/*наши работы*/

.our-works {
  margin-right: 0;
}

.our-works .title-second {
  font-weight: 500;
  font-size: 37px;
  line-height: 1.2;
  margin-bottom: 100px;
}

.job-list {
  display: flex;
  margin-bottom: 80px;
}

.job-item:not(:last-child) {
  margin-right: 60px;
}

.job-item img {
  margin-bottom: 20px;
}

.job-item h3 {
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 15px;
}

/*all-link*/

.long-line::before {
  content: "";
  display: block;
  flex-direction: column;
  width: 1000px;
  height: 1px;
  background-color: currentColor;
  margin-right: 42px;
  margin-left: 48px;
}

.line-button {
  display: contents;
  text-align: center;
}

.icon-plus {
  stroke: currentColor;
}

.link-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Заявка*/
.form-section {
  padding-top: 0;
}
.form-container {
  display: flex;
}
.form-title {
  display: inline-block;
  width: 50%;
}

.form-title h2 {
  font-weight: 500;
  font-size: 37px;
  line-height: 1.89;
  margin-bottom: 34px;
}

.form-title p {
  width: 340px;
  font-size: 20px;
  line-height: 1.4;
}
.form {
  display: inline-block;
  width: 50%;
  margin-left: 60px;
}

.form-field input,
.comment {
  border: none;
  border-bottom: 1px solid var(--main-grey);

  transition: border-bottom var(--animation);
}

.form-field input:hover,
.form-field input:focus,
.comment:hover,
.comment:focus {
  border-bottom: 1px solid var(--main-red);
}

.comment {
  resize: none;
  width: 570px;
}

.form .button {
  margin-top: 42px;

  transition: color var(--animation), background-color var(--animation);
}

.form .button:hover,
.form .button:focus {
  color: var(--main-white);
  background-color: var(--main-red);
}

.form-field {
  position: relative;
  margin-bottom: 47px;
}

.form-label {
  position: absolute;
  top: 30px;
  left: 0;
  transform: translateY(-20px);

  transition: transform var(--animation), font-size var(--animation),
    color var(--animation);
}

.form-input,
.comment {
  width: 570px;
  padding-top: 9px;
  padding-bottom: 15px;
}

.form-input:focus + .form-label,
.comment:focus + .form-label {
  transform: translateY(-50px);
  font-size: 12px;
  color: var(--main-grey);
}

/*Футер*/

.section.footer {
  padding-top: 0;
  background-color: var(--main-background);
}

/*Верх*/
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Слева*/
.footer-left,
.footer-right {
  width: 50%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-left a {
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 1.2;
}

.footer-left {
  padding-right: 239px;
}

.footer-left span {
  color: var(--main-red);
  display: block;
}

.footer-left .button {
  padding: 22px 44px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-color: var(--main-red);
  cursor: pointer;
}

/*Справа*/
.footer-right {
  display: flex;
}

.footer-right div {
  padding-right: 30px;
}

.footer-right nav,
.footer-right div {
  width: 50%;
}

.footer-right a {
  padding-top: 9px;
  padding-bottom: 9px;
}

.footer-right-text {
  margin-bottom: 64px;

  line-height: 1.5;
}

.footer-form input {
  border: none;
  cursor: pointer;
  padding-bottom: 15px;
}

.footer-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--main-black);
}

.footer-form button {
  border: none;
  cursor: pointer;
}

.footer-form:hover input::placeholder,
.footer-form:focus input::placeholder {
  color: var(--main-red);
}
/*.footer-form input::placeholder {
}*/

/*Низ*/

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom ul {
  display: flex;
}

.footer-bottom li:not(:last-child) {
  margin-right: 32px;
}

.footer-bottom a {
  padding-top: 43px;
  padding-bottom: 43px;
}
