/*
#header {
    background-color: blue;
.header {
  background-color: chartreuse;
}

header {
  background-color: yellow;
}

.navigator > a {
  font-size: 30px;
}

.navigator a {
  color: crimson;
}*/
:root {
  --main-font: "TT Norms", sans-serif;
  --main-red: #f2353f;
  --main-grey: #b0b6bf;
  --main-black: #1f2c37;
  --main-white: #ffffff;
  --grid-item: 4;
}

body {
  color: var(--main-black);
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  width: 1600px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid;
}

.navigator {
  display: flex;
}

.navigator .list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

button {
  text-transform: inherit;
}

button:hover,
button:focus,
a:focus,
a:hover {
  color: var(--main-red);
}

.section {
  padding-top: 200px;
}

.list-item:not(:last-child) {
  margin-right: 120px;
}
.list-item button {
  background: transparent;
  border: none;
  padding-top: 42px;
  padding-bottom: 42px;
  /*background-color: tomato;*/
  cursor: pointer;
}
.navigator .list .list-item:first-child {
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.navigator .list .list-item:last-child {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
.navigator .list .list-item:nth-child(2) {
  font-size: 15px;
}

.logo .list-item button,
.list-item a {
  padding-top: 42px;
  padding-bottom: 42px;
}

.navigator .list-item img {
  margin-right: 11px;
}

.logo {
  color: var(--main-red);
  padding-top: 40px;
  padding-bottom: 40px;
}
/*.header {
  background-color: grey;
}*/

.hero {
  /*padding-left: 100px;*/
  background: url(../images/index-video.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.hero .container {
  padding-top: 568px;
  padding-bottom: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero h1 {
  padding-bottom: 40px;
  font-weight: 500;
  font-size: 45px;
  line-height: 1.2;
  color: var(--main-white);
}

.hero h1 span {
  color: var(--main-red);
  text-transform: capitalize;
}
.social-list {
  color: var(--main-white);
  display: flex;
  cursor: pointer;
  font-size: 14px;
}

.social-list li:not(:last-child) {
  margin-right: 50px;
}

.grid {
  margin: 0;
  padding: 0;
  /*outline: 1px solid tomato;*/
  display: flex;
  flex-wrap: wrap;
  margin-top: -60px;
  margin-right: -60px;
}

.grid-item {
  flex-basis: calc((100% - 60px * var(--grid-item)) / var(--grid-item));
  margin-top: 60px;
  margin-right: 60px;
}

.services-item-link {
  display: block;
  font-size: 19px;
  line-height: 1.31;
  max-width: 170px;
  padding-bottom: 42px;
}

.title-paragraf {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--main-grey);
  margin-bottom: 20px;
}

.title-second {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 37px;
  line-height: 1.19;
  margin-bottom: 100px;
}

.title-second span {
  color: var(--main-red);
}

.icon {
  display: block;
  fill: var(--main-red);
  margin-bottom: 53px;
}

.list .services-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 255px;
  height: 255px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.services-item:hover,
.services-item:focus {
  color: var(--main-white);
  background-color: var(--main-red);
}

.services-item-link:hover,
.services-item-link:focus {
  color: var(--main-white);
}

.services-item-link:hover .icon,
.services-item-link:focus .icon {
  fill: currentColor;
}

/*Преимущества*/

.list-advantages .grid-item {
  --grid-item: 2;
}

.title-advantages {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 151px 60px 360px 100px;
}

.blok-advantages {
  display: flex;
  width: 50%;
}

.advantages .container {
  display: flex;
  --grid-item: 2;
}

.numbers {
  font-size: 75px;
  color: var(--main-red);
  min-height: 75px;
  margin-bottom: 17px;
}

.item-advantages {
  display: inline-block;
  line-height: 1.37;
}
.list .item-advantages {
  max-width: 175px;
  max-height: 171px;
}

h3 {
  font-weight: normal;
}

.blok-advantages {
  margin-top: 150px;
  margin-bottom: 150px;
}

.line::before {
  content: "";
  display: inline-block;
  flex-direction: column;
  width: 70px;
  height: 1px;
  background-color: var(--main-grey);
  margin-bottom: 20px;
}

.list-advantages {
  display: flex;
  align-items: baseline;
}

/* партнёры*/

.partner .container {
  text-align: center;
  display: flex;
  --grid-item: 2;
}

.partner .title-advantages {
  margin-right: 0;
}

.title-partners {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.list-partners {
  display: flex;
  max-width: 570px;
  max-height: 347px;
}
